* {
    margin-left: 110px;: 
    box-sizing: border-box;
}

body{
    background: aquamarine;
   
    }
    
.exc1 {
    position: relative;
     width: 900px;
     height: 600px;
     border: 2px hidden green;    
}

.exc2 {
    position: absolute;
    top: 388px;
    right: 305px;
    width: 450px;
    height: 300px;   
}

.exc3 {
    position: absolute;
    top: 388px;
    right: 755px;
    width: 450px;
    height: 300px;    
}


